.items{
            display: flex;
            justify-content: space-between;
            
        }

        .box3, .box4, .box5, .box6, .box7{
            background-color: green;
            width: 100px;
        }
        .box1{
            background-color: red;
            width: 100px;
        }
        .box2{
            background-color: blue;
            width: 100px;
        }
        .holder{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
/* Your CSS Code here. */